USE [FinanceInvoiceCompare]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 2020/10/27 17:00:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[InvoiceNumber] [nvarchar](50) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[Amount] [float] NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[DataSource] [nvarchar](50) NOT NULL,
	[MatchDate] [datetime] NULL,
	[IsMatch] [nvarchar](50) NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Icon] [nvarchar](50) NOT NULL,
	[Path] [nvarchar](200) NOT NULL,
	[Redirect] [nvarchar](50) NOT NULL,
	[Component] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[AlwaysShow] [bit] NOT NULL,
	[Hidden] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[RoleCode] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleMenuMapping]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenuMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NOT NULL,
	[MenuID] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_RolePermissionMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAPInvoiceData]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAPInvoiceData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Vendor] [nvarchar](50) NOT NULL,
	[Reference] [nvarchar](50) NOT NULL,
	[Cocd] [nvarchar](50) NOT NULL,
	[DocumentNo] [nvarchar](50) NOT NULL,
	[NetDueDT] [datetime] NOT NULL,
	[PstngDate] [datetime] NOT NULL,
	[DocDate] [datetime] NOT NULL,
	[Curr] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[AmountInDC] [float] NOT NULL,
	[PBk] [nvarchar](50) NULL,
	[Text] [nvarchar](50) NOT NULL,
	[BlineDate] [datetime] NOT NULL,
	[AmtLC2] [float] NOT NULL,
	[Assign] [nvarchar](50) NOT NULL,
	[GL] [int] NULL,
	[ClrngDoc] [nvarchar](50) NULL,
	[IsDelete] [bit] NOT NULL,
	[IsMatch] [nvarchar](2) NULL,
	[Check] [int] NULL,
	[Remark] [nvarchar](50) NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_SAPData] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NTID] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCompanyMapping]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCompanyMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_UserCompanyMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMapping]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMapping](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
 CONSTRAINT [PK_UserRoleMapping] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 2020/10/27 17:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VendorCode] [nvarchar](50) NOT NULL,
	[VendorChName] [nvarchar](50) NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateBy] [nvarchar](50) NOT NULL,
	[CreateAt] [datetime] NOT NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([ID], [Code], [CompanyName], [IsDelete], [CreateAt], [CreateBy], [UpdatedBy], [UpdatedAt]) VALUES (1, N'A001', N'SLF', 0, CAST(N'2020-10-20T00:00:00.000' AS DateTime), N'1272417', NULL, NULL)
INSERT [dbo].[Company] ([ID], [Code], [CompanyName], [IsDelete], [CreateAt], [CreateBy], [UpdatedBy], [UpdatedAt]) VALUES (2, N'A002', N'SND', 0, CAST(N'2020-10-26T00:00:00.000' AS DateTime), N'1272417', NULL, NULL)
INSERT [dbo].[Company] ([ID], [Code], [CompanyName], [IsDelete], [CreateAt], [CreateBy], [UpdatedBy], [UpdatedAt]) VALUES (3, N'0930', N'tets', 0, CAST(N'2020-10-27T00:00:00.000' AS DateTime), N'3', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([ID], [CompanyCode], [InvoiceNumber], [InvoiceDate], [Amount], [EntryDate], [DataSource], [MatchDate], [IsMatch], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'A001', N'010101', CAST(N'2020-10-11T16:00:00.000' AS DateTime), -1, CAST(N'2020-10-27T11:15:33.267' AS DateTime), N'Manual', CAST(N'1753-01-01T00:00:00.000' AS DateTime), N'N', 0, N'3', CAST(N'2020-10-26T16:55:54.413' AS DateTime), N'3', CAST(N'2020-10-27T11:15:33.267' AS DateTime))
INSERT [dbo].[Invoice] ([ID], [CompanyCode], [InvoiceNumber], [InvoiceDate], [Amount], [EntryDate], [DataSource], [MatchDate], [IsMatch], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (14, N'A001', N'987963', CAST(N'2020-10-26T01:49:21.763' AS DateTime), 789911, CAST(N'2020-10-27T09:49:22.630' AS DateTime), N'Manual', CAST(N'1753-01-01T00:00:00.000' AS DateTime), N'N', 0, N'3', CAST(N'2020-10-27T09:48:52.027' AS DateTime), N'3', CAST(N'2020-10-27T09:49:22.630' AS DateTime))
INSERT [dbo].[Invoice] ([ID], [CompanyCode], [InvoiceNumber], [InvoiceDate], [Amount], [EntryDate], [DataSource], [MatchDate], [IsMatch], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (19, N'A001', N'31620763', CAST(N'2020-07-27T00:00:00.000' AS DateTime), 220378.59375, CAST(N'2020-10-27T10:46:52.953' AS DateTime), N'Scan', CAST(N'1753-01-01T00:00:00.000' AS DateTime), N'N', 0, N'3', CAST(N'2020-10-27T10:46:52.953' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([ID], [ParentID], [Name], [Icon], [Path], [Redirect], [Component], [Title], [AlwaysShow], [Hidden], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (1, -1, N'系统设置', N'el-icon-s-tools', N'/system', N'/system/user', N'layout', N'系统设置', 1, 0, 0, N'1272417', CAST(N'2020-10-20T00:00:00.000' AS DateTime), N'3', CAST(N'2020-10-23T16:35:26.367' AS DateTime))
INSERT [dbo].[Menu] ([ID], [ParentID], [Name], [Icon], [Path], [Redirect], [Component], [Title], [AlwaysShow], [Hidden], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (3, 1, N'用户管理', N'icon', N'/user', N'', N'user', N'用户管理', 0, 0, 0, N'1272417', CAST(N'2020-10-20T00:00:00.000' AS DateTime), N'3', CAST(N'2020-10-23T16:38:22.593' AS DateTime))
INSERT [dbo].[Menu] ([ID], [ParentID], [Name], [Icon], [Path], [Redirect], [Component], [Title], [AlwaysShow], [Hidden], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (7, 1, N'角色管理', N'icon', N'/role', N'', N'role', N'角色管理', 0, 0, 0, N'1272417', CAST(N'2020-10-20T00:00:00.000' AS DateTime), N'3', CAST(N'2020-10-23T16:38:29.333' AS DateTime))
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ID], [RoleName], [RoleCode], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Admin', N'A001', 0, N'1272417', CAST(N'2020-10-19T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Role] ([ID], [RoleName], [RoleCode], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'superadmin1', N'A002', 0, N'3', CAST(N'2020-10-21T14:15:47.247' AS DateTime), N'3', CAST(N'2020-10-21T14:19:33.717' AS DateTime))
INSERT [dbo].[Role] ([ID], [RoleName], [RoleCode], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'12312111', N'123', 1, N'3', CAST(N'2020-10-21T14:19:48.357' AS DateTime), N'3', CAST(N'2020-10-21T14:57:00.127' AS DateTime))
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[RoleMenuMapping] ON 

INSERT [dbo].[RoleMenuMapping] ([ID], [RoleID], [MenuID], [CreateBy], [CreateAt]) VALUES (50, 1, 1, N'1272417', CAST(N'2020-10-27T15:59:18.810' AS DateTime))
INSERT [dbo].[RoleMenuMapping] ([ID], [RoleID], [MenuID], [CreateBy], [CreateAt]) VALUES (51, 1, 3, N'1272417', CAST(N'2020-10-27T15:59:18.810' AS DateTime))
INSERT [dbo].[RoleMenuMapping] ([ID], [RoleID], [MenuID], [CreateBy], [CreateAt]) VALUES (52, 1, 7, N'1272417', CAST(N'2020-10-27T15:59:18.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[RoleMenuMapping] OFF
SET IDENTITY_INSERT [dbo].[SAPInvoiceData] ON 

SET IDENTITY_INSERT [dbo].[SAPInvoiceData] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [NTID], [UserName], [Email], [IsActive], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'1272417', N'1272417', N'994080906@qq.com', 1, 0, N'1272417', CAST(N'2020-10-21T11:42:57.127' AS DateTime), N'3', CAST(N'2020-10-22T20:21:46.850' AS DateTime))
INSERT [dbo].[User] ([ID], [NTID], [UserName], [Email], [IsActive], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (8, N'123', N'123', N'yi_xu5@jabil.com', 1, 1, N'3', CAST(N'2020-10-21T10:53:58.570' AS DateTime), NULL, CAST(N'2020-10-21T10:53:58.570' AS DateTime))
INSERT [dbo].[User] ([ID], [NTID], [UserName], [Email], [IsActive], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (9, N'123', N'123', N'yi_xu5@jabil.com', 1, 1, N'3', CAST(N'2020-10-21T10:54:09.020' AS DateTime), NULL, CAST(N'2020-10-21T10:54:09.020' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserCompanyMapping] ON 

INSERT [dbo].[UserCompanyMapping] ([ID], [CompanyID], [UserID], [CreateBy], [CreateAt]) VALUES (1, 1, 1, N'1272417', CAST(N'2020-10-20T00:00:00.000' AS DateTime))
INSERT [dbo].[UserCompanyMapping] ([ID], [CompanyID], [UserID], [CreateBy], [CreateAt]) VALUES (6, 1, 3, N'1272417', CAST(N'2020-10-27T15:29:23.507' AS DateTime))
INSERT [dbo].[UserCompanyMapping] ([ID], [CompanyID], [UserID], [CreateBy], [CreateAt]) VALUES (7, 2, 3, N'1272417', CAST(N'2020-10-27T15:29:23.507' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserCompanyMapping] OFF
SET IDENTITY_INSERT [dbo].[UserRoleMapping] ON 

INSERT [dbo].[UserRoleMapping] ([ID], [UserID], [RoleID], [CreateBy], [CreateAt]) VALUES (7, 11, 1, N'3', CAST(N'1753-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[UserRoleMapping] ([ID], [UserID], [RoleID], [CreateBy], [CreateAt]) VALUES (9, 10, 2, N'3', CAST(N'1753-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[UserRoleMapping] ([ID], [UserID], [RoleID], [CreateBy], [CreateAt]) VALUES (10, 3, 1, N'3', CAST(N'1753-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserRoleMapping] OFF
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([ID], [VendorCode], [VendorChName], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (20, N'7451', N'tets1', 0, N'3', CAST(N'2020-10-23T14:06:38.590' AS DateTime), NULL, NULL)
INSERT [dbo].[Vendor] ([ID], [VendorCode], [VendorChName], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (21, N'9862', N'tets2', 0, N'3', CAST(N'2020-10-23T14:06:38.603' AS DateTime), NULL, NULL)
INSERT [dbo].[Vendor] ([ID], [VendorCode], [VendorChName], [IsDelete], [CreateBy], [CreateAt], [UpdatedBy], [UpdatedAt]) VALUES (22, N'1231', N'1231123123', 0, N'3', CAST(N'2020-10-23T14:06:42.830' AS DateTime), N'3', CAST(N'2020-10-23T14:06:49.113' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vendor] OFF
ALTER TABLE [dbo].[Company] ADD  CONSTRAINT [DF_Company_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Invoice] ADD  CONSTRAINT [DF_Invoice_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_Hidden]  DEFAULT ((0)) FOR [Hidden]
GO
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [DF_Menu_IsActive]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [DF_Role_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[SAPInvoiceData] ADD  CONSTRAINT [DF_SAPData_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Vendor] ADD  CONSTRAINT [DF_Vendor_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
